
h1 {
  text-align: center;
  font-size:x-large;
  color:#3f37c9;
  display: block;
  
}
h2{
  text-align: left;
  
}

body{
    background-color= fffff;
    font-size: 20px;
}
.grande{
  font-family:'Helvetica Neue', sans-serif;
  
  

}

.list-style{
  background-color: rebeccapurple;
  line-height: 40px;
}

p{
  font-family: sans-serif;

}
.pictures{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
        
.publicidade{
  text-align: center;
}
  

   /* <style>
    body{
      font-family: 'Montserrat', sans-serif;
    }
      p,li{
        font-size: 16px;
        color: id="475550"
      }
    .trybe-green{
      color:green
    }
    .hero-title{
      color:#0a7e51
      font-weight:600;
      font-size:45px;

    }
    .button{
      background-color: #0a7e51;
      size: 50px;
      color:white;
      padding: 15px 30px;
      border-radius: 4px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
    .pictures{
      border-radius: 50%;
    }
  </style>*/